@font-face {
  font-family: 'Inter';
  src: url('./fonts/inter-regular.ttf') format('truetype'),
}

*, *::before, *::after {
  font-family: Inter, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

html {
	position: relative;
	min-height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
}

body {
	background-color: #FFFFFF;
	color: #FFFFFF;
	padding: 0;
	margin: 0;
	text-align: center;
}

.nav-logo,
.landing-logo {
	font-weight: 900;
}

.links,
.landing-para {
	font-size: 1.9rem;
	font-weight: 300;
}

.links {
	gap: 2rem;
}

.nav-logo {
	font-size: 2.5rem;
}

.landing-logo {
	font-size: 4rem;
  margin-bottom: 2%;
}

.info-header {
	font-size: 4rem;
	font-weight: 900;
	color: #1F2937;
}

a {
	color: #FFFFFF;
  text-decoration: none;
}

nav,
footer,
.landing {
	background-color: #1F2937;
}

nav  {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 2rem;
  position: relative;
  font-size: 1.8rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 1rem
}

.landing {
	display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
	align-items: center;
	padding: 1.8rem;
	min-height: 90vh;
	text-align: justify;
	gap: 10rem;
  margin-top: 0;
  padding-top: 0;
}

.landing-para {
	width: 900px;
  margin: 0 0 6% 0;
}

.placeholder {
	background-color: #c4c4c47a;
	height: 400px;
	width: 800px;
}

.landing-btn,
.cta-btn {
	background-color: #3882F6;
  color: #FFFFFF;
	border: none;
	border-radius: 10px;
	font-size: 2rem;
	font-weight: 600;
	padding: 15px 50px;
}

.info {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	gap: 2rem;
}

.cards li {
	width: 300px;
	color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-image {
	width: 260px;
	height: 260px;
	border-radius: 20px;
	outline: solid #057be2c6 5px;
}

.img-text {
	color: #1F2937;
  font-size: 1.3rem;
  width: 15rem;
}

.quote {
  height: 75vh;
  display: flex;
  flex-direction: column;
	justify-content: center;
	align-items: center;
  background-color: #E5E7EB;
  margin-bottom: -70px;
}

.quote-text {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  text-align: justify;
}

.quote-author {
  align-self: flex-end;
  font-weight: 900;
  font-size: 1.5rem;
}

.quote-text,
.quote-author {
  width: 1000px;
  color: #000000;
}

.cta-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: justify;
	height: 50vh;
	gap: 10rem
}

.cta-sub {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background-color: #3882F6;
  border-radius: 8px;
  width: 1000px;
  padding: 2rem;
}

.cta-header {
  font-size: 1.6rem;
  font-weight: 900;
}

.cta-subtext {
  margin-top: -20px;
}

.cta-btn {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  outline: solid #ffffff 3px;
}

footer {
  color: #FFFFFF;
  background-color: #1F2937;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8px;
  padding: 2rem 0;
  text-align: center;
}
